@import '../../styles/variables';

.layout {
    min-height: 100vh;
    padding: 63px 35px 73px 35px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, auto);
    grid-row-gap: 70px;
    justify-items: center;

    @media ($md) {
        padding: 0 35px;
        grid-template-columns: repeat(2, minmax(auto, 439px));
        grid-template-rows: auto;
        grid-column-gap: 15px;
        align-items: center;
        justify-content: center;
    }

    @media ($lg) {
        grid-column-gap: 25px;
    }

    @media ($xl) {
        grid-column-gap: 50px;
    }
}
