@import '../../styles/variables';

.wrapper {
    display: flex;
    flex-direction: column;
    z-index: 10;

    h2,
    p {
        opacity: 0;
        animation: fade 3s 1 ease forwards;
        text-align: center;

        @keyframes fade {
            100% {
                opacity: 1;
            }
        }

        @media ($md) {
            text-align: left;
        }
    }
}

.title {
    margin-bottom: 20px;
    font-size: 38px;
    color: $very-dark-desaturated-violet;
    font-weight: 500;
}

.paragraph {
    font-size: 15px;
    color: $dark-grayish-violet;
    line-height: 1.7;
    animation-delay: 1s;
}
